<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.4-alpha" targetFramework="net462" />
  <package id="Accord.Math" version="3.6.4-alpha" targetFramework="net462" />
  <package id="Accord.Statistics" version="3.6.4-alpha" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net462" />
  <package id="TensorFlowSharp" version="1.2.2" targetFramework="net462" />
</packages>